.main_chat
  .main_chat__group-info
    .left-content
      .left-content__name
        test
      %ul.left-content__member-list
        Member :
        %li.left-content__member-first
          Masa
    .right-content
      = link_to "#", class:"right-content__edit-btn" do  
        Edit
    
  .main_chat__message-list
    %ul.messages
      %li.message
        .message__user-box
          .message__user-box__user-name
            tom
          .message__user-box__info
            2019/11/20(Wed) 17:43:01
        .message__text
          おはよう

      %li.message
        .message__user-box
          .message__user-box__user-name
            tom
          .message__user-box__info
            2019/11/20(Wed) 17:43:01
        .message__text
          おはよう

  %form.main_chat__message-form
    .input-box
      %input{class: "input-box__text", type: "text"}
      %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input{class: "input-box__file",type: "file"}
    %input{class: "submit-btn", type: "submit", value: "Send"}