.side_bar
  .side_bar__user-name
    .top-items
      %h3.top-items__name
        = current_user.name
      .top-items__icons
        = link_to "#", class: "top-items__icons__edit-btn" do
          %i.fas.fa-edit
        = link_to edit_user_path(current_user), class: "top-items__icons__cog-btn" do
          %i.fas.fa-cog
  %ul.side_bar__group-list
    %li.group-list__content
      .group-list__content__name
        techcamp
      .group-list__content__new-message
        まだありません
    %li.group-list__content
      .group-list__content__name
        techcamp
      .group-list__content__new-message
        まだありません
    