* {
  box-sizing: border-box;
}

.side_bar {
  color: #fff;
  width: 300px;
  background-color: #253141;
  height: 100vh;
  float: left;

  &__user-name {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }

  .top-items {
    width: 260px;
    height: 20px;
    font-size: 16px;
    text-align: center;
    line-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__icons {
      color: #fff;
      width: 60px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-decoration: none;

      i {
        color: #fff;
      }

      &__edit-btn {
        margin-right: 5px;
      }
    }
  }


  .group-list__content {
    text-align: left;
    margin: 0 20px;
    list-style: none;

    &__name {
      font-size: 15px;
      padding: 20px 0 5px;
    }

    &__new-message {
      font-size: 11px;
      margin-bottom: 40px;
    }
    
    
  }
}

.main_chat {
  width: calc(100vw - 300px);
  background-color: #fff; 
  height: 100vh;
  float: left;

  &__group-info {
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    align-items: center;

    .left-content {
      margin-top: 35px;
    
      &__name {
        margin-bottom: 15px;
        color: #333;
        font-size: 20px;
      }
    
      &__member-list {
        display: flex;
        color: #999;
        font-size: 12px;
      }

      li {
        margin-left: 5px;
      }
    }

    .right-content {
      margin: 28px 0;
      padding: 0 20px;
      width: 72px;
      border: 1px solid #38aef0;
      height: 40px;
    
      &__edit-btn {
        text-decoration: none;
        color: #38aef0;
        font-size: 16px;
        line-height: 40px;
      }
    }
  }

  &__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    border-top: 1px solid #eeeeee;
    overflow: scroll;

      .message {
        margin-top: 35px;
        margin-left: 40px;
        &__user-box {
          display: flex;
          
          &__user-name {
            color: #333;
            font-size: 16px;
            margin-bottom: 12px;
          }
  
          &__info {
            margin-left: 5px;
            color: #999;
            font-size: 12px;
          }
        }
        &__text {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 46px;
        }
      }
      
  }
  &__message-form {
    height: 90px;
    background-color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    .input-box {
      display: flex;
      width: 100%;
      position: relative;
      align-items: center;
      margin-right: 15px;

      &__text {
        width: 100%;
        height: 50px;

      }
      &__image {
        display: inline-block;
        position: absolute;
        right: 10px;
        font-size: 20px;

      }
      &__file {
        display: none;
      }
    }

    .submit-btn {
      width: 100px;
      height: 50px;
      background-color: #38aef0;
      color: #fff;
      border: none;
    }
  }
}